
.banner {
    width: 100%;
    overflow: hidden;
    background: #000;
}
.hero-title{
    letter-spacing: 2px;
}

.banner-container {
    width: 100%;
}

.banner-track {
    gap: 24px;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.banner-item {
    white-space: nowrap;
}

.site-header-cont {
    width: 100%;

    h2 {
        width: 50%;
    }
}

.site-header-article {
    width: 50%;
    gap: 64px;
}

.main-content {
    width: 100%;
}

.main-content-cont {
    display: flex;
    gap: 96px;
}

.main-content-info {
    width: 70%;
}

.aside-content {
    gap: 64px;
    padding: 48px 0;
    flex: 1;
}

.aside-header-text {
    gap: 8px;
}

.aside-header {
    gap: 32px;
}

.rating {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.rating-item {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    border-bottom: 1px $primary-color-black solid;
  transition: all 0.3s ease;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05); 
          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
}

.rating-item:last-child {
    border-bottom: none;
}

.rating-text {
    gap: 16px;
}

.NewsLetter {
    padding: 30px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.newsetter-title {
    font-size: 32px;
    color: $primary-color-black;
    line-height: 130%;
    font-family: "GeneralSans-bold";
}
.signup-form {
    width: 100%;
}

.signup-row {
  display: flex;
  gap: 12px;
  align-items: end;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    padding: 12px 16px;
    border: none;
    color: $primary-color-black;          
    font-size: 16px;                       
    font-family: "GeneralSans-medium";       
    font-weight: 500;
    line-height: 1.5;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);         
     
    }

    &:focus {
      outline: none;                       
      border-bottom: 2px solid $primary-color-black;
    }
  }
}


.next-page {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: $primary-color-black; 
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.7);   
    transform: translateX(3px);    
  }

 
}

.podcast-section {
    display: flex;
    flex-direction: column;
    gap:96px;
  border-top: 1px solid $primary-color-black;
  padding-bottom: 192px;
}
.pocast-header{
    justify-content: space-between;
}