
.banner {
    width: 100%;
    overflow: hidden;
    background: #000;
}
.hero-title{
    letter-spacing: 2px;
}

.banner-container {
    width: 100%;
}

.banner-track {
    gap: 24px;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.banner-item {
    white-space: nowrap;
}
.cover {
  width: 100%;
  max-width: 1500px;
  overflow: hidden;
  object-fit: contain;
     width: 100%;
         @include aspectRatio(1520, 1013);

  @include responsive("xl") {
    max-width: 1200px;
  }

  @include responsive("lg") {
max-width: 800px;
  }

  @include responsive("md") {
    max-width: 720px;
  }

  @include responsive("sm") {
    max-width: 100%;
  }
}
.cover-text{
    @include responsive("lg") {
flex-direction: column-reverse;
  }
}
.site-header-cont {
    width: 100%;
 @include responsive("xl") {
   flex-direction: column;
   gap:20px;
  }

    h2 {
        width: 50%;
         @include responsive("xl") {
   width: 100%;
   text-align: center;
  }
    }
}
.artic{
  margin-bottom: 87px;
}

.site-header-article {
    width: 50%;
    gap: 64px;
     @include responsive("xl") {
   width: 100%;
   padding: 0;
   gap:12px;
  }
    p{
         @include multilineElipsis(4);

    }
}

.main-content {
    width: 100%;
}

.main-content-cont {
    display: flex;
    gap: 96px;
     @include responsive("xl") {
    flex-direction: column;
    gap:0;
 
  }
}

.main-content-info {
    width: 69.41%;
      @include responsive("xl") {

    width: 100%;
  }
}

.aside-content {
    gap: 64px;
    padding: 56px 0;
    flex: 1;
       @include responsive("xl") {
        padding:0;

  }
}

.aside-header-text {
    gap: 8px;
}

.aside-header {
    gap: 32px;
       @include responsive("xl") {

    display: none;
  }
}

.rating {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
      @include responsive("xl") {
   margin-top: 35px;
  }
}

.rating-item {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    border-bottom: 1px $primary-color-black solid;
  transition: all 0.3s ease;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05); 
          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
}

.rating-item:last-child {
    border-bottom: none;
}

.rating-text {
    gap: 16px;
}

.NewsLetter {
    padding: 30px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.newsetter-title {
    font-size: 32px;
    color: $primary-color-black;
    line-height: 130%;
    font-family: "GeneralSans-bold";
}
.signup-form {
    width: 100%;
}

.signup-row {
  display: flex;
  gap: 12px;
  align-items: end;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    padding: 12px 16px;
    border: none;
    color: $primary-color-black;          
    font-size: 16px;                       
    font-family: "GeneralSans-medium";       
    font-weight: 500;
    line-height: 1.5;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);         
     
    }

    &:focus {
      outline: none;                       
      border-bottom: 2px solid $primary-color-black;
    }
  }
}


.next-page {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: $primary-color-black; 
  text-decoration: none;
  transition: all 0.3s ease;
}
.all-article{
    @include responsive("xl") {
margin-top: 35px;
  }

  

 
}

.podcast-section {
    display: flex;
    flex-direction: column;
    gap:96px;
  border-top: 1px solid $primary-color-black;
  padding-bottom: 192px;
}
.pocast-header{
 @include responsive("sm") {
  flex-direction: column;
  gap: 10px;
  }

  

}