.magazine-categories{
    justify-content: space-between;
    
  @include responsive("lg") {
        flex-direction: column;
        gap: 40px;
        
        
    }
}
.categories-list{
    ul{
      gap:12px;
      flex-wrap: wrap;
    gap: 28px;
    align-items: center;
    justify-content: center;
    }
}
.magazin-list-container {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
  padding: 60px 0;
   @include responsive("lg") {
        width: 100%;
        gap:20px;
        
    }

}

.magazin-list-item { 
    width:33.33% ; 
    display: flex;
    flex-direction: column;
    padding: 48px;
    overflow: hidden;
       border: 1px solid $primary-color-black;
    text-decoration: none;
    color: #000;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
        gap:32px;
        border-top: none;
    
   &:nth-child(3n + 2) {
    border-left: none;
    border-right: none;
}

&:nth-child(-n+3){
       border-top:1px solid $primary-color-black ;
    }

   @include responsive("xxl") {
        width: 50%;
    &:nth-child(3n + 2) {
            border-left: 1px solid $primary-color-black;
            border-right: 1px solid $primary-color-black;
        }

        &:nth-child(odd) {
            border-right: none;
        }
&:nth-child(3){
       border-top:none ;
       border-right: 1px solid $primary-color-black;
         @include responsive("lg") {
            border-top: 1px solid $primary-color-black;
    }
    
     }
    
    @include responsive("lg") {
        width: 100%;
        border-top:  1px solid $primary-color-black;;
           &:nth-child(odd) {
            border-right:  1px solid $primary-color-black;
        }
        
    }
     @include responsive("md") {
       padding: 6px;
        
        
    }

}}
.magazin-list-item:hover {
  background-color: whitesmoke;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border: 1px white solid;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item-header{
      width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
    .magazin-text{
        gap:49px;
    }

 .magazin-text-detail {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
        @include multilineElipsis(1);
        display: -webkit-box !important;
        width: 100%;
    }
}
.description{
     @include multilineElipsis(7);
        display: -webkit-box !important;
        width: 100%;
}



    .magazin-picture{
        width: 406px;
         @include aspectRatio(406, 406);
    }

    .hero{
        margin-bottom: 173px;
        padding: 5px;
    }