.footer-banner {
    background-color: $primary-color-black;
    color: $primary-color-white;
    display: flex;
    flex-direction: column;
    gap: 128px;
}



.footer-section {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:250px;
    color: $primary-color-white;
    font-size: 80px;
    line-height: 110%;
    text-transform: uppercase;
    font-family: "GeneralSans-bold";
    @include responsive("xl") {
gap:10px;
font-size: 70px;


  }
   @include responsive("lg") {
flex-direction: column;
font-size: 60px;
text-align: center;

  }
      @include responsive("md") {
text-align:unset;
font-size: 45px;
  gap: 20px;
  }
}


.footer-signup-form {
    display: flex;
    width: 450px;
    gap:12px;
      @include responsive("md") {
width: 100%;

  
  }
}
.footer-signup-row {
  display: flex;
  gap: 12px;
  justify-content: end;
 
  width: 446px;
      @include responsive("md") {
width: 83%;

  
  }
   @include responsive("sm") {
  width: 100%;
  justify-content: start;
  }
}

  input {
    width: 67%;
    padding: 10px 15px;
    border: none;
    color: $primary-color-black;          
    font-size: 16px;                       
    font-family: "GeneralSans-medium";       
    font-weight: 500;
    line-height: 1.5;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);         
     
    }

  }

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 128px;
    margin-bottom: 64px;
}

.footer-container{
  display: flex;
    flex-direction: column;
    gap: 98px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
      @include responsive("md") {
flex-direction: column;

  
  }
}


.footer-row{
    display: flex;
    width: 65%;
    gap:64px;
      @include responsive("md") {
flex-direction: column;

  
  }
}
.footer-col{
    display: flex;
    flex-direction: column;
    gap:26px;
    width: 29%;
    margin-top: 24px;
    a{
         transition: all 0.3s ease;
  cursor: pointer;
    }
    a:hover{
        text-decoration: underline;
        color: gray;
    }
    }


.footer-logo{
    p{
        color: white;
    }
}
.footer-col {
    a{
        color: white;
    }
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    
     @include responsive("sm") {
flex-direction: column;
gap: 15px;
  
  }

    p{
    
  font-size: 14px;
  line-height: 160%;
  font-family: "GeneralSans-regular";
    }
}
.social-icons-footer{
  font-size: 18px;
  gap: 12px;

  a {
    padding: 3px;                
    border-radius: 50%;
    transition:
      background-color 0.35s ease,
      color 0.35s ease,
      transform 0.25s ease,
      opacity 0.3s ease;
      color: $primary-color-white;

    &:hover {
   
      transform: scale(1.03);   
      opacity: 0.9;            
    }
  }
}



