header{
    border-bottom: 1px solid $primary-color-black;
}
.nav-bar {
  gap: 24px;

@include responsive("lg") {

  gap:15px;
}
  li:hover,
  a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }
}

.social-icons {
  font-size: 18px;
  gap: 12px;
  a {
    padding: 3px;                  
    transition:0.3s;
    &:hover {
      transform: scale(1.03);   
      opacity: 0.9;            
    }
  }
}
.header-bar{



  @include responsive("md") {
flex-direction: column;
gap: 12px;

  }
}