.main-content-card {
  width: 100%;
  display: flex;
  gap: 48px;
  align-items: start;
  padding-bottom: 96px;
  padding-top: 56px;
  border-bottom: 1px solid $primary-color-black;

  &:last-child {
    border: none;
  }

  @include responsive("lg") {
    gap: 20px;
    flex-direction: column;
  }
}

.card-article-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-article {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 71px;
  height: 100%;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  gap: 24px;
  display: flex;
  align-items: center;

  @include responsive("sm") {

    flex-direction: column;
    align-items: baseline;
  }
}

.pod-det {
  gap: 16px;

  @include responsive("xl") {
    justify-content: space-between;

  }

  span {
    @include responsive("xl") {
      font-size: 20px;

    }

    @include responsive("lg") {
      font-size: 15px;
    }
  }
}

.auth-det {
  gap: 32px;

}

.meta-item {
  gap: 8px;
  display: flex;
  align-items: center;
}

.card-img {
  width: 240px;
  transition: transform 0.3s ease;
  @include aspectRatio(240, 240);

  @include responsive("lg") {
    width: 80%;
    margin: auto;
  }


}

.card-img:hover {
  transform: scale(1.05);
}

.poster-img {
  @include aspectRatio(369, 461)
}

.poster-cont {
  position: relative;
}

.poster-text {
  position: absolute;
  top: 36px;
  left: 36px;
  gap: 8px;


}

.date {
  position: absolute;
  bottom: 26px;
  left: 33px;
}

.poster-arrow {
  position: absolute;
  bottom: 33px;
  right: 28px;
}

.card-headline {
  transition: all 0.3s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}


.poster-badge {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 70px;
  border-radius: 50%;
  background-color: $secondary-color-yellow;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(-15deg);
  transform-origin: center;
  bottom: 60px;
  left: 10px;

  &__label {
    color: $primary-color-white;
    font-size: 9px;
    line-height: 160%;
    font-family: "GeneralSans-Bold";
    text-transform: uppercase;
  }

  &__author {
    color: $primary-color-white;
    font-size: 16px;
    line-height: 160%;
    font-family: "GeneralSans-Bold";
    text-transform: uppercase;
  }

  &__type {
    color: $primary-color-white;
    font-size: 9px;
    line-height: 160%;
    font-family: "GeneralSans-Bold";
    text-transform: uppercase;
  }

  &__line {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 2px;
    background-color: $primary-color-white;
    border-radius: 1px;
  }
}


/*podcast card*/
.list-item {
  padding: 48px;

}


.img-cont {

  position: relative;
}

.podcast-text {
  top: 36px;
  left: 36px;
  gap: 5px;

  @include responsive("sm") {
    top: 11px;
    left: 11px;
  }
}

.pod-cont {
  width: 100%;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;

  @include responsive("sm") {
    padding: 11px;
  }
}

.pod-subtitle {
  gap: 5px;
}

.podcast-detail {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.headline-2 {
  @include multilineElipsis(3);
  line-height: 1.1
}

.podcast-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @include responsive("xl") {
    gap: 20px;
  }

  a {
    width: 33.33%;
    border: 1px solid $primary-color-black;
    border-right: none;

    @include responsive("xl") {
      width: 100%;
      border-right: 1px solid $primary-color-black;
    }

    &:last-child {
      border-right: 1px solid $primary-color-black;
    }
  }
}

.podcast-img {
  width: 100%;
  @include aspectRatio(407, 407)
}

/* authors card*/
.author-list-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.author-list-item {
  width: 50%;
  border: 1px solid $primary-color-black;
  cursor: pointer;

  @include responsive("xl") {
    width: 100%;
    border-right: 1px solid $primary-color-black;
  }

  &:nth-child(odd) {
    border-right: none;

    @include responsive("xl") {

      border-right: 1px solid $primary-color-black;
    }
  }

  &:not(:nth-last-child(-n + 2)) {
    border-bottom: none;
  }
}

.author-item {
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 48px;

  @include responsive("sm") {
    flex-direction: column;
  }
}

.author-img {
  width: 150px;
  @include aspectRatio(150, 150);

  img {
    border-radius: 50%;
  }
}

.author-text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include responsive("xl") {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  @include responsive("md") {
    flex-direction: column;
    align-items: center;
  }
}