.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;

   @include responsive("xxl") {
    max-width: 1300px;
    padding: 0 5px;
  }

  @include responsive("xl") {
    max-width: 1200px;
    padding: 0 16px;
  }

  @include responsive("lg") {
    max-width: 960px;
    padding: 0 12px;
  }

  @include responsive("md") {
    max-width: 720px;
    padding: 0 8px;
  }

  @include responsive("sm") {
    max-width: 100%;
    padding: 0 4px;
  }
}
.container2{
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
}
.container3{
   width: 100%;
  max-width: 1200px;
  margin:0 auto;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

a {
  color: $primary-color-black;
}

.flex-col {
  flex-direction: column;
}

.absolute {
  position: absolute;
}

/*animations*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
body{
  background-color: white;
  color: black;
}
.body.dark-mode,
body.dark-mode * {
  color: white;
  background-color: $primary-color-black;
}
